<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="footer" th:fragment="footer">
        <div id="footer-inner">
            <div class="group">
                <div class="footer-mod">
                    <p class="logo">
                        <a href="index.html">
                            <!--<img width="80" alt="dribbble" th:src="@{/resources/images/logo.jpeg}" src="../../resources/images/logo.jpeg" />-->
                            <i class="fa fa-cutlery"></i>
                        </a>
                        <br />
                        Shijoje jeten ne maksimum!
                    </p>

                    <p class="about">Kerkoni shije te reja, party fantastike dhe restorantet me te mire. Ne te gjithe Shqiperine.</p>
                </div>
                <div class="footer-mod">
                    <ul class="extra-links">
                        <li><a id="f-home" href="about.html">Link</a></li>
                        <li><a href="http://help.dribbble.com/">Link</a></li>
                        <li><a href="contact.html">Link</a></li>
                        <li><a href="terms.html">Link</a></li>
                        <li><a href="privacy.html">Link</a></li>
                        <li><a href="http://shop.dribbble.com/">Link</a></li>
                        <li><a href="testimonials.html">Link</a></li>
                        <li><a href="http://help.dribbble.com/handbook">Link</a></li>
                        <li><a href="branding.html">Link</a></li>
                        <li><a href="advertise.html">Link</a></li>
                        <li><a href="http://developer.dribbble.com/">Link</a></li>
                        <li><a href="integrations.html">Link</a></li>
                    </ul>
                </div>

                <div class="footer-mod">
                    <h3>
                        <a href="jobs.html">
                            Jobs <span class="meta">for Designers</span>
                        </a>        </h3>

                    <ol class="jobs-list">

                        <li class="group">
                            <a class="item-team" rel="tipsy" title="Visit the team&#39;s profile" href="Instapage.html">
                                <img src="https://d13yacurqjgara.cloudfront.net/users/905506/avatars/normal/ce3a32c1ef75d89d49c1b003c2f5f773.png?1437433520" alt="Ce3a32c1ef75d89d49c1b003c2f5f773" />
                            </a>

                            <a class="job-edit" rel="tipsy" title="Edit this job" data-creator-id="905506" href="session/new.html">
                                <img src="https://d13yacurqjgara.cloudfront.net/assets/icon-edit-button-d1f89f265002207a1c4a2c99971ec36a.png" alt="Icon edit button" />
                            </a>
                            <a target="_blank" title="posted November 13, 2015" class="item-link group" data-url="https://instapage.workable.com/jobs/157399" href="https://instapage.workable.com/jobs/157399">
            <span class="item-info">
              <span class="item-title">Instapage</span>
              <span class="item-desc">Web Visual Designer</span>
            </span>

                                <span class="item-meta">San Francisco</span>
                            </a></li>

                        <li class="group">
                            <a class="item-team" rel="tipsy" title="Visit the team&#39;s profile" href="quartzy.html">
                                <img src="https://d13yacurqjgara.cloudfront.net/users/949240/avatars/normal/b005e086e2c20367b503dc6e8271bb61.png?1442342464" alt="B005e086e2c20367b503dc6e8271bb61" />
                            </a>

                            <a class="job-edit" rel="tipsy" title="Edit this job" data-creator-id="949240" href="session/new.html">
                                <img src="https://d13yacurqjgara.cloudfront.net/assets/icon-edit-button-d1f89f265002207a1c4a2c99971ec36a.png" alt="Icon edit button" />
                            </a>
                            <a target="_blank" title="posted December 2, 2015" class="item-link group" data-url="http://grnh.se/x2clba" href="http://grnh.se/x2clba">
            <span class="item-info">
              <span class="item-title">Quartzy</span>
              <span class="item-desc">Product Designer</span>
            </span>

                                <span class="item-meta">Palo Alto, CA</span>
                            </a></li>

                    </ol>

                </div>

                <div class="footer-mod last">
                    <div class="ad thedeck target group notloaded">
                        <a href="http://decknetwork.net/" class="flag">Ads via The Deck</a>
                    </div>

                </div>
            </div>

            <!--<h4 id="pixels-total" class="group">-->
                <!--<strong>430,381,432,467</strong> pixels dribbbled-->
            <!--</h4>-->


            <p>Made in Albania. &copy; 2015&ndash;2016 Company Shpk</p>

            <p class="follow">
                <a href="dribbble">
                    <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-dribbble-0ebe5597e0f8842727369b9ec2273396.png" alt="Icon team dribbble" /></a>
                <a href="http://twitter.com/dribbble">
                    <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-twitter-dc5f98054923bbeaa4f54caa16f07a74.png" alt="Icon team twitter" /></a>
                <a href="http://facebook.com/dribbble">
                    <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-facebook-3a4a626bc48c60d5bc902e94fda22180.png" alt="Icon team facebook" /></a>
                <a href="http://instagram.com/dribbble">
                    <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-instagram-49c2065ba69f14958c720a9f1777e2f7.png" alt="Icon team instagram" /></a>
                <a href="stories.html">
                    <img width="24" src="https://d13yacurqjgara.cloudfront.net/assets/icon-team-blog-0f684522b6afa95d3bc1d8fc4911b2da.png" alt="Icon team blog" />
                </a>
            </p>
        </div>
    </div>

</html>