                    @media (min-width: 768px) {
                        .navbar .navbar-nav {
                            display: inline-block;
                            float: none;
                            vertical-align: top;
                        }

                        .navbar .navbar-collapse {
                            text-align: center;
                        }
                    }



                        .seo-primary{
                            border-bottom:1px solid rgba(204, 204, 204, 0.57);
                        }


                                                        .thumbnail{
                                                        border:none;
                                                        }



                div.browseLinks ul li{
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                    line-height: 1em;
                }

                div.browseLinks ul li a {
                    display: inline-block;
                    padding: 3px;
                    text-decoration: underline;
                    color: #999;

                }

                .minor {
                    font-size: 12px;
                    line-height: normal;
                    color: #999;
                }